<?xml version="1.0"?>
<config>
    <modules>
        <Snowdog_PayU>
            <version>0.1.2</version>
            <depends>
                <Mage_Payment />
            </depends>
        </Snowdog_PayU>
    </modules>
    <global>
    	<models>
    		<snowpayu>
	    		<class>Snowdog_PayU_Model</class>
				<resourceModel>snowpayu_mysql4</resourceModel>
			</snowpayu>
            <snowpayu_mysql4>
                <class>Snowdog_PayU_Model_Mysql4</class>
                <entities>
                    <payu>
                        <table>snowpayu</table>
                    </payu>
				</entities>
	    	</snowpayu_mysql4>
    	</models>
       <helpers>
            <snowpayu>
                <class>Snowdog_PayU_Helper</class>
            </snowpayu>
        </helpers>
    	<blocks>
            <snowpayu>
            	<class>Snowdog_PayU_Block</class>
            </snowpayu>
        </blocks>
        <resources>
            <snowpayu_setup>
                <setup>
                    <module>Snowdog_PayU</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </snowpayu_setup>
            <snowpayu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </snowpayu_write>
            <snowpayu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </snowpayu_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <snowpayu>
                <use>standard</use>
                <args>
                    <module>Snowdog_PayU</module>
                    <frontName>payu</frontName>
                </args>
            </snowpayu>
        </routers>
        <translate>
            <modules>
                <Snowdog_PayU>
                    <files>
                        <default>Snowdog_PayU.csv</default>
                    </files>
                </Snowdog_PayU>
            </modules>
        </translate>
        <layout>
            <updates>
                <payu>
                    <file>payu.xml</file>
                </payu>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Snowdog_PayU>
                    <files>
                        <default>Snowdog_PayU.csv</default>
                    </files>
                </Snowdog_PayU>
            </modules>
        </translate>
    </adminhtml>
	<default>
        <payment>
            <snowpayu>
                <active>1</active>
                <cgi_url>https://www.platnosci.pl/paygw/</cgi_url>
                <model>snowpayu/payu</model>
                <order_status>1</order_status>
                <title>PayU</title>
                <log_file_name>snowpayu.log</log_file_name>
            </snowpayu>
        </payment>
    </default>
</config>
